<!-- templates/_watermark.html -->
{% if watermark_logo %}
<div style="position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            z-index: 0;">
    <img src="{{ url_for('static', filename='images/' + watermark_logo) }}" 
         alt="Watermark" 
         style="max-width: 80%;
                max-height: 80%;
                width: auto;
                height: auto;
                object-fit: contain;
                opacity: 0.1;
                filter: grayscale(100%);
                transform: rotate(-20deg);">
</div>
{% endif %}